@model dynamic
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/MyStyle.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap" rel="stylesheet">
    <title>บัตรคิว</title>
</head>

<style>
    body {
        font-family: 'Prompt', sans-serif;
        background-color: #2E4053;
        color: #000;
    }

    .button1 {
        padding: 0px 30px;
    }

    .button2 {
        padding: 20px 50px;
    }

    .q_card {
        width: 350px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
</style>

<body>
    <br>
    <div id="qrcode" class="container border q_card" style=" background-color: #ffff ;">
        <div style="text-align: center;">
            <div class="form-group">
                <h3 class="pt-3">บัตรคิว</h3>
            </div>
            <div class="form-group">
                <h5>ชื่อ : @Model.queue.customer_name</h5>
            </div>
            <div class="form-group">
                <h5>เบอร์โทรศัพท์ : @Model.queue.phone_number</h5>
            </div>
            <div class="form-group">
                <h5>ลำดับคิวที่ : @Model.queue.type@Model.queue.queue_no</h5>
            </div>
            <div class="form-group">
                <h6>วันที่จอง : @Model.queue.formatdate(@Model.queue.book_date) เวลา
                @Model.queue.formattime(@Model.queue.book_date) น.</h6>
            </div>
            <div class="form-group">
                <h6>รอคิวประมาณ : @Model.wait_time </h6>
            </div>

            <div class="form-group">
                <img src="~/FrontEnd/dist/img/Line.jpg" width="200" height="200" />
            </div> 
        </div>
    </div>
    </br>
    <div class="form-group text-center">
        <a asp-action="AddQ" asp-controller="Queue" onclick="PrintPage('qrcode')"  class="btn btn-success hidden-print"
            name="submit">ยืนยัน</a>
    </div>

    <textarea id="printing-css"  style=display:none;>
        h3,h4,h5,h6,{
            font-family: 'Prompt', sans-serif;
            background-color: #2E4053;
            color: #000;
            font-size: 80px;
        }
    </textarea>
    <iframe id="printing-frame" name="print_frame" style="display:none;"></iframe>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
    <script type="text/javascript">

        function PrintPage(id) {
            var a = document.getElementById('printing-css').value;
            var b = document.getElementById(id).innerHTML;
            window.frames["print_frame"].document.title = document.title;
            window.frames["print_frame"].document.margin='none';
            window.frames["print_frame"].document.body.innerHTML = '<style>' + a + '</style>' + b ;
            window.frames["print_frame"].window.focus();
            window.frames["print_frame"].window.print();
            window.frames["print_frame"].window.close();
        }
    </script>
</body>

</html>
